/* h1{
  color: rgb(31, 31, 94);
}
.card{
  border: solid black;
  border-radius: 15px;
  width: 320px;
  margin: 50px;
  padding: 50px;
  
}
h2{
  color: rgba(220, 22, 29, 0.975);
}
button{
  color: rgb(11, 14, 11);
  background-color: aqua;
  cursor: pointer;
}
.Footer{
  background-color: black;
  color: white;
  text-align: center;
} */




/* Navbar */
* {
  margin: 0;
  padding: 0;
}
.app {
  
  width: 100%;
  
}

.app .navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(29, 189, 242);
}

.app .navbar .nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  
}

.app .navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

table{
  width: 800px;
  height: 20px;
  border-bottom: 1px solid black;
  border: 2px solid black;
}
th{
  border-bottom: 1px solid #000000;
  border: 2px solid black;
  width: 800px;
  height: 20px;

}
td{
  text-align: center;
  border: 2px solid black;
  width: 800px;
  height: 20px;
}
