table{
    width: 800px;
    height: 20px;
    border-bottom: 1px solid black;
    border: 2px solid black;
}
th{
    border-bottom: 1px solid #000000;
    border: 2px solid black;
    width: 800px;
    height: 20px;

}
td{
    text-align: center;
    border: 2px solid black;
    width: 800px;
    height: 20px;
}